{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
  

	    <div>	    
	<p>
"This web application is designed to promote and strengthen the culture of safety among all individuals working in the industry. It targets professionals at all levels, from operators and technicians to managers, providing proven methods and practical scenarios to raise awareness of safety issues. By encouraging active participation from everyone, the application fosters a collaborative environment where safety becomes everyone's responsibility. With interactive tools and educational resources, it helps build collective awareness and ensures the rigorous application of best safety practices in the workplace."
</p>

    </div>

    <div><p>
</p> </div>
{% endblock content %}
